
{% extends "base.html.twig" %}


{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div id="container_connexion">
        <form action="{{ path('login') }}" method="post">

            <label for="username">USERNAME</label>
            <input type="text" tabindex="10" size="25" value="{{  last_username }}" id="username" name="_username">



            <label for="password">PASSWORD</label>


            <input type="password" tabindex="20" size="25" value="" id="password" name="_password">


            <input class="button" type="submit" tabindex="100" value="SE CONNECTER" id="wp-submit" name="wp-submit">

        </form></div>


{% endblock %}
