{#{% extends 'base.html.twig' %}#}
{% block body %}
            <li><a href={{ path('admin_participant')}}>Gestion des participants</a></li>
            <li><a href={{ path('admin_conference')}}>Gestion des conferences</a></li>
            <li><a href={{ path('admin_homepage')}}>Gestion Homepage</a></li>
{% endblock body %}
