{% extends "base.html.twig" %}
{% block body %}
    <div class="flex-center position-ref full-height">
        <div class="content">
            <div id="banniere">
                <div class="title m-b-md">
                    <h1>Laboratoire de Mathématiques de Lens</h1>
                    <a href="http://www.univ-artois.fr/">
                        Université d'artois
                    </a>
                </div>
                <img src="/images/batiment.jpg">
            </div>
            {% include 'navbar.html.twig' %}
            <div class="container-accueil">
                    <p class="content">
                        <h1>Bienvenue sur la page web du Laboratoire de Mathématiques de Lens</h1>

                        <p>Le Laboratoire de Mathématiques de Lens (EA2462) fait partie de l'Université d'Artois. Il participe à la Fédération de Recherche Mathématique du Nord-Pas-de-Calais.

                            Le laboratoire développe ses recherches dans plusieurs directions (cliquer sur le titre de chaque équipe ci-dessous pour avoir une description plus détaillée et la liste des membres).</p>
                         <p>   La liste de ses publications peut être consultée sur HAL.</p>

                        <h1>Algèbre:</h1>

                        <p>Formes quadratiques sur les corps (déploiement des formes bilinéaires et quadratiques, caractéristique 2)</p>
                        <p>Groupes de Witt des corps et des schémas</p>
                        <p>Catégories triangulées et dérivées</p>
                        <p>Théories cohomologiques sur les schémas (groupes de Chow, K-théorie, cobordisme algébrique, théorie homotopique des schémas)</p>
                        <p>Algèbre non commutative (extensions d’anneaux, fonctions symétriques non commutatives, algèbres de Hopf, groupes quantiques)</p>
                        <h1>Analyse fonctionnelle:</h1>

                        <h1>Opérateurs de composition</h1>
                        <p>Dynamique des opérateurs linéaires (hypercyclicité, chaos)</p>
                        <p>Géométrie des espaces de Banach (analyse Harmonique, fonctions périodiques à fréquences localisées)</p>

                        <h1>Didactique des mathématiques:</h1>

                        <p>Études didactiques de l'utilisation de l'histoire des mathématiques en classe et en formation (projet EDU-HM, financement régional)</p>
                        <p>Le langage dans l’Enseignement et l’Apprentissage des Mathématiques (projet LEMME)</p>
                        <p>Enseigner et apprendre la géométrie à l’école primaire</p>
                        <p> - Production de ressources</p>
                        <p> - Étude du développement professionnel d’enseignants (premier et second degrés)</p>
                        <h1>Histoire des mathématiques:</h1>

                        <p>Géométrie, de la période antique jusqu’au 17ème siècle</p>
                        <p>Algèbre aux 19ème et 20ème siècles</p>

                        <h1>Géométrie:</h1>

                        <p>Géométrie algébrique (surfaces rationnelles en caractéristique 0 ou p > 2, revêtements des courbes elliptiques, liées à l’étude de certaines équations aux dérivées partielles non linéaires, invariants différentiels)</p>
                        <p>Physique mathématique (quantification par déformation, représentations des groupes de Lie, application à la caractérisation des opérateurs différentiels équivariants)</p>
                <p>Topologie algébrique (cohomologie d’intersection, complexité topologique, genre de Mislin)</p>
                <p>Géométrie différentielle (feuilletages riemanniens singuliers et actions de groupes de Lie isométriques)</p>


                    </div>

            </div>
        </div>
    </div>
{% endblock %}

