{% extends "base.html.twig" %}
{% block body %}
    <div class="flex-center position-ref full-height">
        <div class="content">
            <div id="banniere">
                <div class="title m-b-md">
                    <h1>Laboratoire de Mathématiques de Lens</h1>
                    <a href="http://www.univ-artois.fr/">
                        Université d'artois
                    </a>
                </div>
                <img src="/images/batiment.jpg">
            </div>
            {% include 'navbar.html.twig' %}
            <div class="container-contact">
                    <div class="content">
                        <h1>Identité</h1>
                        <p>Le laboratoire est l'unité EA 2462 et il est rattaché à l'école doctorale <a href="http://edspi.univ-lille1.fr/">Sciences pour l'Ingénieur</a> numéro 72.</p>

                        <h1>Adresse postale</h1>

                        <p>LML - Laboratoire de Mathématiques de Lens</p>
                        <p>Faculté des Sciences Jean Perrin</p>
                        <p>Université d'Artois</p>
                        <p>Rue Jean Souvraz SP 18</p>
                        <p>62307 LENS CEDEX</p>

                        <h1>Direction du laboratoire</h1>
                        <p>Pascal Lefèvre (tél: +33 (0)3 21 79 17 76, fax: +33 (0)3 21 79 17 29)</p>
                        <h1>Secrétariat</h1>
                        <p>Angélique Gérard (tél: +33 (0) 3 21 79 17 94, fax: +33 (0) 3 21 79 17 29)</p>
                    </div>

            </div>
        </div>
    </div>
{% endblock %}

