<nav>
    <div class="top-right links">
                <a href="/">Accueil</a>
                <a href="">Séminaires, Colloques</a>
                <a href="">Équipes</a>
                <a href="">Formation, Thèses</a>
                <a href="">Membres</a>
                <a href="liens">Liens</a>
                <a href="adresse">Comment venir ?</a>
                <a href="contact">Contact et adresse</a>
    </div>
</nav>
